@import './styles/variables';
@import './styles/navigation';
@import './styles/message';

body {
    font: {
        size: 100%;
        family: $font-family;
        weight: 400;
    }
    color: $base-font-color;
    margin: 10;
}

.some-text:after {
    content: $my-text;
    @if $flag { color: #F00; }
}


// Control directives
$p-type: success;
p.if-directive {
    @if $p-type == info {
        color: $grey;
    } @else if $p-type == success {
        color: $green;
    } @else if $p-type == error {
        color: $red;
    } @else if $p-type == warning {
        color: $yellow;
    }
}

div.for-while-directive {
    margin-right: 20px;
    
    // @warn "Carefull with the loops";
    @for $i from 1 through 3 {
        .fs-#{$i} { font-size: #{8 * $i}px; }
    }

    $i: 4;
    @while $i <= 6 {
        .fs-#{$i} { font-size: #{8 * $i}px; }
        $i: $i + 1;
    }
    // @debug "Exited loop successfully";
}

ul.nav-bar.each-directive li {
    @each $color in "red", "green", "orange", "purple" {
        &.bg-color-#{$color} { background-color: #{$color}; }
    }
    &:hover {
        opacity: 0.7;
    }
}

// Check the generated css
.at-root-directive {
    font-size: 18px;
    margin-top: 20px;

    @at-root {    
        .style-i {
            font: {
                size: 16px;
                style: italic;
            }
        }
    
        .style-b {
            font: { 
                size: 16px;
                weight: 700;
            }
            text-transform: uppercase;
        }
    }
}