@import './styles/variables';
@import './styles/mixins';
@import './styles/navigation';
@import './styles/message';

body {
    font: {
        size: 100%;
        family: $font-family;
        weight: 400;
    }
    color: $base-font-color;
    margin: 10;
}

.some-text:after {
    content: $my-text;
    @if $flag { color: #F00; }
}


// Control directives
$p-type: success;
p.if-directive {
    @if $p-type == info {
        color: $grey;
    } @else if $p-type == success {
        color: $green;
    } @else if $p-type == error {
        color: $red;
    } @else if $p-type == warning {
        color: $yellow;
    }
}

div.for-while-directive {
    margin-right: 20px;
    
    // @warn "Carefull with the loops";
    @for $i from 1 through 3 {
        .fs-#{$i} { font-size: #{8 * $i}px; }
    }

    $i: 4;
    @while $i <= 6 {
        .fs-#{$i} { font-size: #{8 * $i}px; }
        $i: $i + 1;
    }
    // @debug "Exited loop successfully";
}

ul.nav-bar.each-directive li {
    @each $color in "red", "green", "orange", "purple" {
        &.bg-color-#{$color} { background-color: #{$color}; }
    }
    &:hover {
        opacity: 0.7;
    }
}

// Check the generated css
.at-root-directive {
    font-size: 18px;
    margin-top: 20px;

    @at-root {    
        .style-i {
            font: {
                size: 16px;
                style: italic;
            }
        }
    
        .style-b {
            font: { 
                size: 16px;
                weight: 700;
            }
            text-transform: uppercase;
        }
    }
}

// Mixin usage
.mixin-div {
    @include standard-border;
    @include centered-text;
    height: 50px;
    width: 100%;
    color: #FFF;
    background-color: #AAA;
    margin-top: 10px;
}

.mixin-function-div {
    @include standard-border-function(#0F0, 5px);
    @include centered-text-function(100px);
    height: 100px;
    width: 100%;
    color: #FFF;
    background-color: #0F0;
    margin-top: 10px;
}

.inbuild-function-div {
    @include centered-text-function(100px);
    width: 100%;
    margin-top: 10px;
    background-color: rgb(200, 150, 110);
}

@function multiply-width($n) {
    $static-width: 40px;
    @return $n * $static-width;
}

.user-defined-function-div {
    @extend .inbuild-function-div;
    width: multiply-width(10);
    background-color: rgb(63 , 0, 59);
    color: rgb(255, 255, 255);
}