@import './styles/variables';
@import './styles/navigation';
@import './styles/message';

body {
    font: {
        size: 100%;
        family: $font-family;
        weight: 400;
    }
    color: $base-font-color;
    margin: 10;
}

.some-text:after {
    content: $my-text;
    @if $flag { color: #F00; }
}