@import 'variables';

ul.nav-bar {
    padding-left: 0;

    li {
        height: 30px;
        width: 100px;
        margin-top: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        background-color: $tab-color;
        border-bottom: 1px solid $tab-color;
        cursor: pointer;

        &:hover {
            background-color: $tab-hover-color;
            border-bottom-color: $tab-hover-color;
            transition: 300ms;
        }
    }
}

@media screen and (min-width: $medium-screen) {
    ul.nav-bar li { width: 24%; }
}

@media screen and (max-width: $medium-screen) {
    ul.nav-bar li { width: 49%; }
}

@media screen and (max-width: $small-screen) {
    ul.nav-bar li { width: 100%; }
}