// Number
$margin: 10;
// String
$my-text: "Hello, World!";
// Boolean
$flag: true;

// Resolution
$large-screen: 1200px;
$medium-screen: 900px;
$small-screen: 600px;

// Font
$font-family: Helvetica, sans-serif;

// Colors
$base-font-color: #333;
$tab-color: #57F;
$tab-hover-color: #49F;